Should '#' be a valid entry for dataschema?

This currently gets rejected.

This simple test case currently fails:

```
func TestSimple(t *testing.T) {
	ev := cloudev.NewEvent()
	ev.SetDataSchema("#")
	ev.SetID("id")
	ev.SetSource("mysrc")
	ev.SetType("mytype")

	require.NoError(t, ev.Validate())
}
```

https://github.com/cloudevents/spec/blob/v1.0/spec.md#dataschema
Indicates:

> URI - Absolute uniform resource identifier.
> String encoding: Absolute URI as defined in RFC 3986 Section 4.3.

The RFC is a little hard to follow on this part and it seems like '#' might considered as valid (meaning current URL).
However, in an event that has very limited sense.

This question mainly comes up because I've noticed that Azure Cloudevent Subscription send '#' as dataschema for example:

```json
{
  "id": "uuid",
  "source": "/subscriptions/sub-uuid/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/acc",
  "specversion": "1.0",
  "type": "Microsoft.Storage.BlobCreated",
  "dataschema": "#",
  "subject": "/blobServices/default/containers/foo/blobs/message",
  "time": "2020-11-20T18:35:53.2272766Z",
  "data": {
    }
  }
}
```

Because the `Event validation` is non flexible it makes it currently impossible to use the SDK with this service.


So the sdk has a bug for sure in its validation of uris, but it seems like the _Azure Cloudevent Subscription_ sends a wrong event too (definition of absolute uri https://tools.ietf.org/html/rfc3986#section-4.3)

Check the #616

Thanks @slinkydeveloper do you know anyone at Azure who might be able to have a look to fix this bug?

I honestly don't know, maybe @clemensv can point you to the right person