When adding int64 within getting Field error fatal error

When calling ~github.com\cloudevents\sdk-go\v2@v2.11.0\event\event_writer.go:SetExtension : 
```
var val int64
val = 206192050177
SetExtension("key", val)
```
getting error and value not set

![image](https://user-images.githubusercontent.com/5255154/199085929-97accf83-7dc0-4ec3-8b6b-d48ee594a12f.png)


Extension attributes follow CE SPEC which states for `integers`:

> Integer - A whole number in the range -2,147,483,648 to +2,147,483,647 inclusive. This is the range of a signed, 32-bit, twos-complement encoding. Event formats do not have to use this encoding, but they MUST only use Integer values in this range.
String encoding: Integer component of the JSON Number per [RFC 7159, Section 6](https://tools.ietf.org/html/rfc7159#section-6) optionally prefixed with a minus sign.

In your case a workaround is to use `string` type.